.downloadCv {
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),
                var(--tw-ring-shadow,0 0 transparent),
                var(--tw-shadow);

    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    --tw-text-opacity: 1;
    color: rgba(33,33,33,var(--tw-text-opacity));
    font-weight: 400;
    text-decoration: inherit;
    padding: 12px 20px;
    cursor: pointer;
    transition: all .2s;
}