.wrapperLogoAndText{
    display: flex;
}

.logoAndText {
    width: 100px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logoAndText {
    font-weight: 600;
}

.wrapperLogoAndText p {
    font-size: 1rem;
    line-height: 1.7rem;
    --tw-text-opacity: 1;
    color: rgba(73,81,93,var(--tw-text-opacity));
}

.wrapperLogoAndText p a {
    text-decoration: underline;
}

.padding10 {
    padding-top: 10px;
}


.info {
    padding-top: 50px;
}